@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #F9797B;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100vw;
}


/* Começo Header */
header {
    /* height: 80%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-header-logo {
    margin: 17% 0 13%;
    height: 100%;
    width: 50%;
    text-align: center;
}

.img-header-logo img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.img-header-logo h1 {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}

/* Fim Header */


/* Inicio Main */
.container {
    background-color: #fff;
    border-radius: 60px 60px 0 0;
    position: relative;
    width: 100%;
    padding: 0 6% 15%;
    height: 100%;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    left: 2.5%;
    top: -3%;
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.info div {
    padding: 2% 1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info img {
    margin-bottom: 10px;
}

.info p {
    font-size: 73%;
    font-weight: 500;
    text-align: end;
}

/* Inicio Teste de verificaçãp */

.teste {
    margin: 24% 0 17%;
    /* background-color: #F9797B; */
    width: 100%;
}

.titulo-teste h1 {
    font-size: 20px;
    margin-bottom: 12%;
}

a {
    text-decoration: none;
}

button {
    display: block;
    height: 30%;
    width: 40%;
    padding: 3.5% 0;
    margin: 0 auto;
    border: none;
    background-color: #F25B5D;
    color: #fff;
    border-radius: 7px;
    font-size: 18px;
}

/* Fim Teste */

/* Inicio exigências */

.exigencias {
    /* background-color: #F9797B; */
    margin-bottom: 15%;
}

.titulo-exigencias h1 {
    font-size: 20px;
    margin-bottom: 5%;
}

ul {
    list-style: none;
}

ul li {
    display: flex;
    align-items: center;
    height: 63px;
    background-color: #FBFBFB;
    color: #B5B5B5;
    border-radius: 10px;
    margin: 3% 0;
    font-size: 13px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 53px;
    height: 51px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

ul li:nth-child(1) .icon {
    border: 1px solid #03A9F4;
}
ul li:nth-child(2) .icon {
    border: 1px solid #FFB300;
}
ul li:nth-child(3) .icon {
    border: 1px solid #03a9f4;
}
ul li:nth-child(4) .icon {
    border: 1px solid #FFB300;
}

.icon i {
    font-size: 35px;
}

label {
    width: 70%;
    margin-left: 3%;
    font-size: 110%;
    /* background-color: #F25B5D; */
}

li input {
    margin: 0 5%;
    appearance: none;
    width: 27px;
    height: 25px;
    /* box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1); */
    border: solid 2px #F25B5D;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

input[type="checkbox"]:checked {
    content: url('../img/checked.svg');
    border: solid 2px #157DD1;
    background-color: #64B5F6;
    
}   

input[type="checkbox"]:checked ~ label {
    text-decoration: underline;
}


/* Fim exigências */


/* Inicio unidade de coleta */

.unidade-coleta {
    /* background-color: aqua; */
}

.titulo-coleta h1 {
    font-size: 20px;
    margin-bottom: 6%;
    /* margin-top: 15%; */
}

.container1 {
    background-color: #FBFBFB;
    margin-top: 6%;
    padding: 2.5%;
    border-radius: 10px;
    display: flex;
    height: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.info-unidade {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.info-unidade h1 {
    font-size: 18px;
    margin-bottom: 6%;
    color: #000;
}

.img-local {
    width: 35%;
    height: auto;
    border-radius: 10px;
}

.info-unidade .localizacao {
    display: flex;
    margin-top: 3%;
    font-size: 15px;
}


.localizacao a {
    display: flex;
    text-decoration: none;
    color: #B5B5B5;
}

.localizacao a i {
    /* margin: 0 5% 0 0%; */
    font-size: 20px;
    margin-right: 2%;
}

.info-unidade .tell {
    font-size: 15px;
    color: #2A73C4;
}

/* Fim unidade de coleta */

/* Fim Main */