@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    background-color: #F9797B;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
}


/* Começo Header */
header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-contador {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.header-contador h1 {
    font-size: 140%;
    color: #fff;
    font-weight: 400;
    margin: 0 7%;
}

.header-contador i {
    font-size: 250%;
}

.header-contador button {
    background-color: transparent;
    border: none;
    margin: 35% 0;
}

.container {
    background-color: #fff;
    border-radius: 60px 60px 0 0;
    position: relative;
    width: 100%;
    padding: 0 6% 5%;
    height: 500%;
}

.pergunta {
    height: 200px;
}

.titulo-pergunta {
    height: 280px;
    margin: 15% 0 0;
}

.titulo-pergunta h1 {
    font-size: 180%;
    height: auto;
    width: auto;
}

.buttons {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.buttons button {
    height: 100%;
    width: 33%;
    border-radius: 7px;
    font-size: 130%;
}

.buttons button:nth-child(2) {
    margin-left: 7%;
    background-color: #F9797B;
    border: none;
    color: #fff;
}

.buttons button:nth-child(1) {
    border: solid 1px #F9797B;
    background-color: transparent;
    color: #F9797B;
    
}

.resposta {
    margin: 15% 0 5%;
    display: none;
    text-align: center;
    /* height: 100%; */
    /* justify-content: center; */
    flex-direction: column;
}

.resposta img {
    margin-top: 1%;
    width: auto;
    margin: 10% 15%;
}

ul {
    margin-top: 3%;
    background-color: #fbfbfb;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px; 
    border-collapse: collapse;
}

ul li {
    color: #000;
    font-weight: 500;
    text-align: start;
    border-bottom: 1px solid #e0e0e0;
    padding: 4% 4%;
    list-style: none;
    font-size: 16px; 
    display: flex;
    align-items: center; 
}

ul li:last-child {
    border: none;
}

li i {
    font-size: 200%;
    padding: 1%;
    border: solid 1px;
    border-radius: 7px;
    margin-right: 4%;
}

.obs {
    display: none;
    margin-top: 10%;
    text-align: center;
    /* margin-bottom: 5%; */
}

.voltar {
    width: 100%;
    /* height: 1%; */
    margin-bottom: 5%;
    margin-top: 15%;
}

.voltar a {
    width: 100%;
    display: none;
    justify-content: end;
    text-decoration: none;
}

.voltar a button {
    color: #fff;
    background-color: #F25B5D;
    border: none;
    padding: 20px;
    font-size: 16px;
    border-radius: 7px;
}

.btn-cancelar {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: end;
    justify-content: start;
    text-decoration: none;
}

.btn-cancelar button {
    border: solid 1px #F9797B;
    background-color: transparent;
    color: #F9797B;
    width: 153%;
    padding: 8% 0;
    border-radius: 7px;
    font-size: 130%;
}

.none-mobile {
    display: none;
}

@media (max-width: 316px) {

    
    .titulo-pergunta {
        height: auto;
    }
    
    .buttons {
        margin-top: 15%;
    }
    
    .btn-cancelar {
        height: 50%;
    }
}