.none-desktop {
    display: none;
}

.none-mobile {
    display: flex;
}

header {
    height: 14%;
}

.header-contador h1 {
    font-size: 150%;
}

.header-contador i {
    font-size: 260%;
    transition: .5s;
}

.btn-esq i:hover {
    translate: -10px;
}

.btn-dir i:hover {
    translate: 10px;
}

.container {
    text-align: center;
    border-radius: 0;
    height: 500%;
}

.titulo-pergunta {
    margin: 5% 15% 0;
}

.buttons {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.buttons button {
    height: 58%;
    width: 20%;
    border-radius: 7px;
    font-size: 130%;
}

.buttons button:nth-child(2) {
    margin-left: 7%;
    background-color: #F9797B;
    border: none;
    color: #fff;
}

.buttons button:nth-child(1) {
    border: solid 1px #F9797B;
    background-color: transparent;
    color: #F9797B;
    
}

.buttons button:nth-child(1):hover  {
    translate: 0px -10px;
}

.buttons button:nth-child(2):hover  {
    translate: 0px -10px;
}

.resposta {
    margin: 5% 0 0;
}

.resposta img {
    /* margin-top: 3%; */
    margin: 4% 35%;
    /* width: 16%; */
}

.resposta .resposta-requisitos {
    /* text-align: start; */
    margin-top: 2%;
}

.req-nao-cumpridos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 37%;  */
    margin-top: 1%;
}

ul {
    margin: auto;
    width: 100%;
    /* padding-left: 10%; */
}

ul li {
    /* margin: .5% 0; */
    display: flex;
    padding: 3%;
    width: 100%;
    align-items: center;
}

.voltar {
    height: 0%;
}

.voltar a {
    margin-top: 15%;
}



.btn-cancelar button, button {
    transition: .4s;
    cursor: pointer;
}

.btn-cancelar button:hover {
    background-color: #F9797B;
    color: #fff;
    
}

.btn-cancelar {
    height: 55%;
}

@media (min-width: 950px) {
    
    .nao-apto {
        display: none;
        flex-direction: row;
        justify-content: center;
    }
    
    .nao-apto img {
        width: 55%;
        margin: 10%;
        padding: auto;
    }
    
    .resposta .resposta-requisitos {
        margin-top: 0;
    }
    
    .obs {
        margin-top: 3%;
        width: calc(100% - 50%);
        margin-left: 50%;
        justify-content: end;
        text-align: start;
    }
    
    .buttons {
        /* height: auto; */
    }
    
    .buttons button {
        width: 15%;
    }
    
    .req-nao-cumpridos {
        margin-top: 5%;
    }
    
    ul {
        margin: 0 5%;
    }
    
    ul li {
        padding: 2%;
    }
    
    .voltar {
        margin-top: 5%;
    }
    
    .voltar a {
        margin-top: 5%;
    }
}

@media (min-width: 1669px) {
    .voltar a {
        margin-top: 10%;
    }
    
    .btn-cancelar  {
        height: 50%;
    }
    
    .buttons button {
        width: 10%;
    }
}